// BREAKPOINTS

desktop-lg()
    @media (min-width:  1920px)
        { block }

desktop-md()
    @media (min-width:  1280px)
        { block }

desktop-sm()
    @media (max-width: 1280px)
        { block }

tablet-lg()
    @media (max-width: 1024px)
        { block }

tablet()
    @media (max-width: 768px)
        { block }

mobile()
    @media (max-width: 430px)
        { block }
