// RESET

*
    padding: 0
    margin: 0
    min-width: 0
    border: none
    outline: none
    background: none
    box-sizing: border-box
    text-decoration: none
    font-family: inherit
    -webkit-tap-highlight-color: transparent

button
    cursor: pointer
    user-select: none
    color: inherit
    font-size: inherit
    font-weight: inherit
    font-family: inherit
