// COLORS

$body-background = hsb(0, 0, 4)
$element-background = hsb(0, 0, 8)
$element-foreground = hsb(0, 0, 12)
$element-foreground-darken = hsb(0, 0, 10)
$element-foreground-lighten = hsb(0, 0, 14)

// text colors 
$text-primary = hsb(0, 0, 96)
$text-secondary = hsb(0, 0, 76)
$text-tertiary = hsb(0, 0, 64)
$text-light = hsb(0, 0, 88)
$text-dark = hsb(0, 0, 48)

// accent colors
$accent-red = hsb(355, 76, 88)
$accent-red-darken = hsb(355, 64, 24)
$accent-red-lighten = hsb(355, 64, 96)
$accent-green = hsb(170, 88, 76)
$accent-green-darken = hsb(170, 88, 32)
$accent-green-lighten = hsb(170, 64, 88)
$accent-blue = hsb(210, 76, 88)
$accent-blue-darken = hsb(210, 76, 32)
$accent-blue-lighten = hsb(210, 64, 100)
$accent-purple = hsb(260, 76, 88)
$accent-purple-darken = hsb(260, 64, 32)
$accent-purple-lighten = hsb(260, 64, 100)