// FONTS

@font-face
    src: url(/fonts/red-hat-display.woff2) format('woff2-variations')
    font-family: 'Red Hat Display'
    font-weight: 300 900
    font-style: normal

@font-face
    src: url(/fonts/red-hat-text.woff2) format('woff2-variations')
    font-family: 'Red Hat Text'
    font-weight: 300 700
    font-style: normal

@font-face
    src: url(/fonts/red-hat-mono.woff2) format('woff2-variations')
    font-family: 'Red Hat Mono'
    font-weight: 300 700
    font-style: normal

// font family

$family-display = 'Red Hat Display'
$family-text = 'Red Hat Text'
$family-mono = 'Red Hat Mono'

// font weight

$weight-bold = 640