// ICONS

@font-face
    font-family: 'Icon Font'
    src: url(/fonts/icon-font.woff2) format('woff2')

.icon
    font-family: 'Icon Font'
    font-weight: normal
    font-style: normal
    word-wrap: normal
    letter-spacing: normal
    text-transform: none
    user-select: none
    white-space: nowrap
    font-size: inherit
    color: inherit
    line-height: 1