// SIZES

// padding

$page-padding-hor = 160px
$modal-padding-hor = 32px
$modal-padding-ver = 48px

// border-radius

$radius-lg = 8px
$radius-md = 4px
$radius-sm = 2px

// gap

$gap-hg = 48px
$gap-lg = 32px
$gap-md = 24px
$gap-sm = 12px
$gap-tn = 6px
$gap-xs = 4px
