.input
    // layout
    display: flex
    flex-direction: row
    align-items: center
    // styles
    height: $conutrol-height-md
    gap: $gap-sm
    padding: 0 $gap-sm
    background: $element-foreground
    box-shadow: inset 0 0 0 1px transparent
    border-radius: $radius-md
    // text styles
    font-size: 14px
    font-weight: 420
    color: $text-secondary
    // animation
    transition: background .2s ease-in-out, box-shadow .2s ease-in-out

    // children
    input
        flex-grow: 1
        color: inherit

        &:placeholder
            color: $text-dark

        &:placeholder
            color: $text-dark

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button
            -webkit-appearance: none
            margin: 0

    button
        color: $text-tertiary

    // states
    &.focused
        background: $element-foreground-darken
        box-shadow: inset 0 0 0 1px $element-foreground

    &.disabled
        opacity: .6