// FUNCTIONS

hsb($h-hsb, $s-hsb, $b-hsb, $a-hsb = 1)
    if $b-hsb == 0
        return hsla(0, 0, 0, $a-hsb)
    else
        $l-hsl = ($b-hsb / 2) * (2 - ($s-hsb / 100))
        $s-hsl = ($b-hsb * $s-hsb) / ($l-hsl < 50 ? $l-hsl * 2 : 200 - $l-hsl * 2)
        return hsla($h-hsb, $s-hsl, $l-hsl, $a-hsb)

opacify($color, $alpha)
   return transparentify($color, $color, $alpha) 

// MIXINS

text-overflow($lines = 1)
    if $lines == 1
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
    else 
        overflow: hidden
        display: -webkit-box
        -webkit-box-orient: vertical
        -webkit-line-clamp: $lines

// screen breakpoints

desktop-lg()
    @media (min-width:  1920px)
        { block }

desktop-md()
    @media (min-width:  1280px)
        { block }

desktop-sm()
    @media (max-width: 1280px)
        { block }

tablet-lg()
    @media (max-width: 1024px)
        { block }

tablet()
    @media (max-width: 768px)
        { block }

mobile()
    @media (max-width: 430px)
        { block }

// FONTS

@font-face
    src: url(/fonts/red-hat-display.woff2) format('woff2-variations')
    font-family: 'Red Hat Display'
    font-weight: 300 900
    font-style: normal

@font-face
    src: url(/fonts/red-hat-text.woff2) format('woff2-variations')
    font-family: 'Red Hat Text'
    font-weight: 300 700
    font-style: normal

@font-face
    src: url(/fonts/red-hat-mono.woff2) format('woff2-variations')
    font-family: 'Red Hat Mono'
    font-weight: 300 700
    font-style: normal

// icons

@font-face
    font-family: 'Icon Font'
    src: url(/fonts/icon-font.woff2) format('woff2')

.icon
    font-family: 'Icon Font'
    font-weight: normal
    font-style: normal
    word-wrap: normal
    letter-spacing: normal
    text-transform: none
    white-space: nowrap
    font-size: inherit
    color: inherit
    line-height: 1

// GLOBAL VARIABLES
// colors 
$body-background = hsb(0, 0, 4)
$element-background = hsb(0, 0, 8)
$element-foreground = hsb(0, 0, 12)
$element-foreground-darken = hsb(0, 0, 10)
$element-foreground-lighten = hsb(0, 0, 14)
// text colors 
$text-primary = hsb(0, 0, 96)
$text-secondary = hsb(0, 0, 76)
$text-tertiary = hsb(0, 0, 64)
$text-dark = hsb(0, 0, 48)
// accent colors
$accent-red = hsb(355, 76, 88)
$accent-red-darken = hsb(355, 64, 24)
$accent-red-lighten = hsb(355, 64, 96)
$accent-green = hsb(170, 88, 76)
$accent-green-darken = hsb(170, 88, 32)
$accent-green-lighten = hsb(170, 64, 88)
$accent-blue = hsb(210, 76, 88)
$accent-blue-darken = hsb(210, 76, 32)
$accent-blue-lighten = hsb(210, 64, 100)
$accent-purple = hsb(260, 76, 88)
$accent-purple-darken = hsb(260, 64, 32)
$accent-purple-lighten = hsb(260, 64, 100)
// font family
$family-display = 'Red Hat Display'
$family-text = 'Red Hat Text'
$family-mono = 'Red Hat Mono'
// font weight
$weight-bold = 640
//
$page-padding-hor = 160px

// border-radius
$radius-lg = 8px
$radius-md = 4px
$radius-sm = 2px

// gap
$gap-hg = 48px
$gap-lg = 32px
$gap-md = 24px
$gap-sm = 12px
$gap-tn = 6px
$gap-xs = 4px